body{
    display: flex;
    justify-content: center;
}

#totalDisplay{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    width: 400px;
    height: 75px;
    text-align: center;
    font-size: 60px;
    background-color: white;
    padding: 10px;
    border-radius: 1.5%;
    border: none;
    box-shadow: -6px 7px #4e4e4e;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;

}

.calculator{
    display: flex;
    border: 10px grey solid;
    background-color: gray;
    border-radius: 5px;
    width: 320px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    gap: 5px;
    box-shadow: -6px 7px #4e4e4e;
}

#clear{
    width: 75px;
    height: 75px;
}
#decimal{
    font-size: 60px;
}

button{
width: 75px;
height: 75px;
text-align: center;
font-size: 30px;
border-radius: 20%;
border: none;
background-color: white;
box-shadow: -6px 7px #4e4e4e;
}
button:hover{
    background-color: #dadada;
}

button:active{
    background-color: #dadada;
    box-shadow: -4px 5px #4e4e4e;
    transform: translateY(4px);
}

#fun {
width: 100px;
height: 75px;
font-size: 1px;
text-align: center;
font-size: 30px;
border-radius: 3%;
border: none;
background-color: white;
box-shadow: -6px 7px #4e4e4e;
}

#total{
    width: 100px;
    height: 75px;
    text-align: center;
    font-size: 30px;
    border-radius: 3%;
    border: none;
    background-color: #5ac45a;
    box-shadow: -6px 7px #4e4e4e;
    }
    #back {
        width: 100px;
        height: 75px;
        font-size: 1px;
        text-align: center;
        font-size: 30px;
        border-radius: 3%;
        border: none;
        background-color: white;
        box-shadow: -6px 7px #4e4e4e;
        }

#clear {
        background-color: red;
        color: white;
    }
